<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         stopOnError="false"
> 
<testsuites>
    <testsuite name="Unit">
        <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
        <directory>tests/Feature</directory>
    </testsuite>
</testsuites>
    <source>
        <include>
            <directory>app/Http/Controllers/Complementarios</directory>
            <directory>app/Models/Complementarios</directory>
            <directory>app/Http/Requests/Complementarios</directory>
            <directory>app/Services/Complementarios</directory>
            <directory>app/Repositories/Complementarios</directory>
            <directory>app/Jobs/Complementarios</directory>
            <directory>app/Exceptions/Complementarios</directory>
        </include>
    </source>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app/Http/Controllers/Complementarios</directory>
            <directory suffix=".php">app/Models/Complementarios</directory>
            <directory suffix=".php">app/Http/Requests/Complementarios</directory>
            <directory suffix=".php">app/Services/Complementarios</directory>
            <directory suffix=".php">app/Repositories/Complementarios</directory>
            <directory suffix=".php">app/Jobs/Complementarios</directory>
            <directory suffix=".php">app/Exceptions/Complementarios</directory>
        </include>
        <report>
            <text outputFile="php://stdout" />
            <html outputDirectory="storage/coverage" />
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value="database/testing.sqlite"/>
        <env name="DB_FOREIGN_KEYS" value="true"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
